.environments {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 0.25rem;
}

.environment-item {
  font-weight: 600;
}

.environment-details {
  font-size: 0.8rem;
  border-radius: 4px;
}

.environment-details[open] {
  background-color: white;
}

.environment-summary {
  cursor: pointer;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0.25rem 0.25rem 0.25rem 0.75rem;

  display: grid;
  grid-template-columns: auto auto 1fr;
  justify-content: start;
  align-items: center;
  border-radius: 4px;
  border: 1px solid transparent;
}

.environment-summary:hover {
  background-color: white;
  border-color: var(--silver-d);
}

.app-icon {
  width: 2rem;
  height: 2rem;
  background-image: var(--icon-url);
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
  margin-right: 0.5rem;
}

.environment-form {
  padding: 0.5rem 0.5rem 1rem;
  display: grid;
  gap: 0.5rem;
}

.environment-url {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-size: 16px;
  font-weight: normal;
  line-height: 32px; /* easier click target */

  grid-column: 2 / span 2;
}

.form-row {
  display: grid;
  grid-template-columns: 72px minmax(200px, 400px) auto;
  height: 2rem;
  align-items: center;
}

.form-row > .label {
  justify-self: end;
  padding-right: 0.5rem;
}
.form-row > button,
.form-row > input {
  align-self: stretch;
}

.form-row__field-action {
  justify-self: start;
  width: 100px;
  margin-left: 0.25rem;
}

.input--copy-target {
  cursor: pointer;
  --input-background-color-hover: var(--silver);
}

.btn--copy[data-copied] {
  --btn-background-color: var(--success);
  --btn-background-color-hover: var(--success);
}

.app-badge {
  color: var(--badge-color);
  font-size: 12px;
  font-weight: 600;
}
.app-badge[title]:not([title=""]):hover {
  cursor: help;
  text-decoration: underline dotted;
}

[data-app-id="commerce-retail-demo"] {
  --icon-url: url("https://switchboard-assets.netlify.app/product-icons/D365Icon_Commerce.svg");
}

[data-app-id="commerce-site-builder-dev"] {
  --icon-url: url("https://switchboard-assets.netlify.app/product-icons/D365Icon_Commerce.svg");
}

[data-app-id="connected-store-dev"] {
  --icon-url: url("https://switchboard-assets.netlify.app/product-icons/D365Icon_ConnectedStore.svg");
}
[data-app-id="customer-insights-demo"] {
  --icon-url: url("https://switchboard-assets.netlify.app/product-icons/D365Icon_CustomerInsights.svg");
}

[data-app-id="customer-service-trial"] {
  --icon-url: url("https://switchboard-assets.netlify.app/product-icons/D365Icon_CustomerService.svg");
}

[data-app-id="customer-service-demo"] {
  --icon-url: url("https://switchboard-assets.netlify.app/product-icons/D365Icon_CustomerService.svg");
}

[data-app-id="customer-service-insights-demo"] {
  --icon-url: url("https://switchboard-assets.netlify.app/product-icons/D365Icon_CustomerServiceInsights.svg");
}

[data-app-id="field-service-trial"] {
  --icon-url: url("https://switchboard-assets.netlify.app/product-icons/D365Icon_FieldService.svg");
}

[data-app-id="field-service-demo"] {
  --icon-url: url("https://switchboard-assets.netlify.app/product-icons/D365Icon_FieldService.svg");
}

[data-app-id="finance-demo"] {
  --icon-url: url("https://switchboard-assets.netlify.app/product-icons/D365Icon_FinanceStandalone.svg");
}

[data-app-id="fraud-protection-demo"] {
  --icon-url: url("https://switchboard-assets.netlify.app/product-icons/D365Icon_FraudProtection.svg");
}

[data-app-id="human-resources-demo"] {
  --icon-url: url("https://switchboard-assets.netlify.app/product-icons/D365Icon_CoreHR.svg");
}

[data-app-id="marketing-trial"] {
  --icon-url: url("https://switchboard-assets.netlify.app/product-icons/D365Icon_Marketing.svg");
}

[data-app-id="marketing-demo"] {
  --icon-url: url("https://switchboard-assets.netlify.app/product-icons/D365Icon_Marketing.svg");
}

[data-app-id="product-insights-demo"] {
  --icon-url: url("https://switchboard-assets.netlify.app/product-icons/D365Icon_ProductInsights.svg");
}

[data-app-id="project-service-automation-trial"] {
  --icon-url: url("https://switchboard-assets.netlify.app/product-icons/D365Icon_ProjectServiceAutomation.svg");
}

[data-app-id="sales-trial"] {
  --icon-url: url("https://switchboard-assets.netlify.app/product-icons/D365Icon_Sales.svg");
}

[data-app-id="sales-demo"] {
  --icon-url: url("https://switchboard-assets.netlify.app/product-icons/D365Icon_Sales.svg");
}

[data-app-id="sales-insights-demo"] {
  --icon-url: url("https://switchboard-assets.netlify.app/product-icons/D365Icon_SalesInsights.svg");
}

[data-app-id="supply-chain-management-demo"] {
  --icon-url: url("https://switchboard-assets.netlify.app/product-icons/D365Icon_SCM.svg");
}
